
* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(85, 178, 255);
    text-align: center;
    padding: 20px;
    
}

section{
    background-color: white;
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.39);
}
section h2 {
    font-weight: normal;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: rgb(209, 30, 209);
}
