@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Fredericka+the+Great&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 400;
    /* box-sizing: border-box; */
}
h1{
    font-size: 2em;
    font-weight: 600;
}
h2{
    font-size: 1.5em;
    font-weight: 600;
}


a{
    color: black;
    text-decoration: none;

}


.justify-nav{
    display: flex;
    justify-content: space-around;
    padding:10px;
    max-height: 40px;
}

.img-search{
    background: url(img/lupa.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.3em;
    padding-right: 1.3em;
}
.search{
    border: solid 1px #0089BC;
    border-radius: 10px;
    height: 30px;

}

.navbar-dark{
    background-color: #033244;
}

.border-top-blue{
    border-top: solid 4px #71D8FF;
}
.border-botton-blue{
    border-bottom: solid 6px #71D8FF;
}
.container-cards{
    margin-top: 30px;
    max-height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.banner{
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    border-bottom: solid 6px #71D8FF
}
/* carrossel */
.card-carousel{
    box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.85);
    margin: 10px;
    padding: 10px;
    }
.slider-wrapper {
    margin: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

.slides-container {
    width: 80%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.slide {
    width: 100%;
    height: 100px;
    flex: 1 0 10%;
  }
/* carousel 3 */
.slide-3 {
    list-style: none;
    width: 100%;
    height: 450px;
    flex: 1 0 10%;
  }

.slides-container-3 {
    width: 80%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
  
/*  */
.container-sec1{
    margin: 20px;
}
.btn-seeall{
    max-width: 200px;
}

.cotainer-time{
    display: flex;
    align-items: center;
    background:url(img/bg\ time.png) no-repeat;
    background-size: cover;
    height: 500px;
    margin: 40px 0;
    padding-left: 200px;
    border-bottom: solid 6px #71D8FF;
}
.org-time > *{
    margin-bottom: 15px;
}
.card-service{
    max-width: 400px;
    background-color: #283137;
}

.sec-conheca{
    background: url(img/BG\ CONHEÇA.png) no-repeat center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}
.container-historia > *{
    margin-bottom: 20px;
}
.container-historia{
    max-width: 600px;
    padding-left: 200px;
}
.fig-botton-div{
    background: url(img/fig-2.png) no-repeat center;
    background-size: cover;
    max-width: 1600px;
    height: 40px;
    margin: 50px auto;
}


/* footer */
footer{
    background-color: #283137;
    height: 400px;
}
/* responsive */

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {
    .banner{
        background-image: url(img/banner-small.png);
        background-size: cover;
        width: 100%;
        height: 500px;
        border-bottom: solid 6px #71D8FF;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {
    .slides-container-3 {
        width: 80%;
        display: flex;
        overflow: scroll;
        scroll-behavior: smooth;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .slide-3 {
        flex: 1 0 100%;
      }
}


@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}




/* using in several different tags */


.d-flex{
    display: flex;
}
.w-img{
    max-width: 400px;
}
.m-1{
    margin: 10px;
}
.mb-1{
    margin-bottom: 20px;
}
.m-a{
    margin: auto;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.size-1{
    font-size: 1.2em;
}
.aling-center{
    display: flex;
    align-items: center;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.png-little{
    width: 12px;
    cursor: pointer;
}
.png-little-2{
    width: 24px;
    cursor: pointer;
}

.text-white{
    color: white;
}
.text-white > *{
    color: white;
}
.text-dark-blue{
    color: #005271;
    max-width: 500px;
}
.w-100{
    width: 100%;
}
.text-center{
    text-align: center;
}

.card-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.85);
    margin: 0px 20px;
    padding: 10px;

}

.text-blue{
    color: #00AEEF;

    color: rgb(0, 174, 239);
}
.btn-blue{
    background-color: #71D8FF;
    padding: 5px 10px;
}

.border-style-1{
    border-right: 1px solid #00AEEF;
}

