*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(56, 78, 175);
}
header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

main{
    max-width: 600px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.432);
}
img{
    width: 600px;
    height: auto;

}