
label .menu {
  position: absolute;
  right: -80px;
  top: -105px;
  z-index: 100;
  width: 200px;
  height: 100px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #69D2e7;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #283137, 0 0 0 102vh #283137;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + .responnsive-menu { opacity: 1; }

label .responnsive-menu {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
}

.border-white{
  border-top: 1px solid white;
  width: 350px;
}

@media (min-width:800px) {
    .d-responsive{
        display: none;
    }

    .navbar-dark{   
    display: flex;
    justify-content: space-around;
    padding:10px;
    max-height: 40px;
  }

  
}
@media (max-width:800px) {
  .d-none-words{
        display: none;
    }

  .navbar-dark{
      display: none;
  }
  .search{
    display: none;
  }

  .nav-config-1{
    display: none;
  }
}

.dropbtn {
  display: flex;
  align-items: center;
  background-color: #033244;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 900px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: start;
}
.drop-config{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
  display: block;
}

.logo-menu{
  margin: 20px;
  max-width: 100px;
  position: relative;
  top: -24vw;
}

