/* Universel */
*{
    padding: 0px;
    margin: 0px;
}

/* Navbar */
.contacts{
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    margin: 0px;
}
.branding-nav{
    max-width: 50px;
}
.banner{
    background-image: url(../img/cozinha2.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-bottom: 80px;
}
.banner > h1{
    animation: jmbanner 2s ease-in-out;
    margin:80px;
}



@keyframes jmbanner{
    0%{
        transform: translateX(800px);
    }

}
@media (max-width:900px) {
    .banner{
        height: 400px;
    }
    .banner > h1{
        margin:10px;
    }
    .text-banner{
        font-size: 22px;
        margin:10px;
    }
}
/* Componet 1 */

.container-services-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin:20px auto 200px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.services {
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
}
.services li{
    margin: 20px;
    list-style: none;
}
.services li img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px 10px 0px 0px;
}
.card{
    width: 500px !important;
    border-radius: 10px !important;
}

@media (max-width:820px) {
    .card{
        width: 300px !important;
        border-radius: 10px !important;

    }
}
@media (max-width:1200px) {
    .container-services-1{
        margin: 20px !important;
    }
}

/* Componet 2 */
.container-section-2{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin:20px auto;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 20px; */
    height: 450px;
}
.container-section-2 div h1{
    color: #a66642;
}
.container-section-2 div p{
    color: #3c3c3c;
}
.img-why-jm{
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 20px;
}
.box-choose-jm{
    display: flex;
    max-width: 400px;
}
.box-choose-jm > li{
    list-style: none;
    margin-top: 20px;
    border-left: 2px solid #a66642;
    color: #a66642;
    padding: 10px;
    font-weight: bold
}
.box-choose-jm li:nth-child(2){
    margin-top: 45px;  
}
.box-choose-jm li:nth-child(3){
    margin-top: 72px;  
}
.cardp-choose-jm{
    max-width: 350px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: -60px -180px 0 0;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.animated-hr {

    margin: auto;
    width: 80%;
    border: none;
    height: 2px;
    background-color: #a66642;
    animation: animated-hr-animation 3s ease-in-out  1;


  }
  
  @keyframes animated-hr-animation {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
@media (max-width:820px) {
    .container-section-2{
        flex-wrap: wrap;
        justify-content: center;
    }
    .img-why-jm{
        max-width: 300px;
    }
}
@media (max-width:1200px) {
    .container-section-2{
        margin: 20px !important;
    }
}
/* Componet 3 */
.container-section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin:200px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
}
.video-responsive{
    max-width: 80%;
}

/* componet 4 forms */

.sec-news{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    min-height: 400px;
    margin: auto;
    margin-bottom: 100px;
}
.form-news{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.form-news > *{
    margin-bottom: 10px;
    border: solid 2px gray;
    width: 672px;
    height: 44px;
    padding: 0 15px;
}
.btn-submit{
    border: none;
    margin: 10px 0px;
    background-color: #d6d6d6;
    color: black;
    border-radius: 10px;
    width: 300px;
    transition: 0.5s;
}
input::placeholder {
    color: gray;
  }
.btn-submit:hover{
    background-color: #8e8c8c;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
@media (max-width:1200px) {
    .sec-news{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }
    .input-type-1{
        width: 246px;
        padding-left: 10px;
    }

    .form-news{
        align-items: center; margin-top: 30px;
    }
}

/* Footer */
footer{
    background-color: #515151;
    min-height: 400px;
}
.times-footer > p{
    color: white;
}
.times-footer{
    display: flex;
    align-items: flex-start;

}
.container-imgs{
    display: flex;
    margin-bottom: 20px;
}
.container-imgs > a > *{
    width: 60px;
    height: 60px;
    padding: 5px;
}
.logo-footer{
    margin: 20px;
    max-width: 150px;
    max-height: 150px;
    /*height: 50px;*/
}
.box-card-footer{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.container-footer{
    display: flex;
    justify-content: start;

}
.img-footer{
    width: 35px;
    padding: 10px;
}
.container-medias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.footer-responsive{
    display: flex;
    align-items: flex-start !important;
}
@media (max-width: 900px){
    .footer-responsive{
        display: flex;
        justify-content: space-around;
        flex-direction: column;

    }
}
@media (min-width: 1200px) {
    .container-footer{
        flex-direction: column;
        padding: 30px;

    }
    .d-responsive-3{
        display: none;
    }
    .footer-responsive{
        display: flex;
        justify-content: space-around;
    }
    .container-medias{
        background-color: #515151;
    }
    .ogr-footer-medias{
        margin-top: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .config-hr{
        color: white;
        width: 80%;
        height: 1px;
        margin: 20px auto;
    }

}


/*  */
#projetos .container input [ type=radio ] {
    display: none;
   }

   

   #projetos .container .cards {
    position: relative;
    width: 800px !important;
    height: 500px;
   }

   #projetos .container .card {
    position: absolute;
    width: 35%;
    height: 70%;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.4s ease;
    cursor: pointer;
   }

   #projetos .container .card img {
    width:350px;
    height: 350px;
    object-fit: contain;
   }

   #projetos .container .card{
    position: absolute;
    bottom: 10px;
    z-index: 9;
    text-transform: uppercase;
    cursor: pointer;
   }

   .saiba-mais {
    position: absolute;
    top: 85%;
    right: 42%;
    padding: 1.5%;
    background: #1c1c1c;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
   }

   .saiba-mais:hover {
    background: #3c3c3c;
   }
   
   #item-1:checked ~ .cards #song-3, 
   #item-2:checked ~ .cards #song-1,
   #item-3:checked ~ .cards #song-2 {
    transform: translateX(-100%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
   }

   #item-1:checked ~ .cards #song-2, 
   #item-2:checked ~ .cards #song-3,
   #item-3:checked ~ .cards #song-1 {
    transform: translateX(100%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
   }

   #item-1:checked ~ .cards #song-1, 
   #item-2:checked ~ .cards #song-2,
   #item-3:checked ~ .cards #song-3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#song-1, #song-2, #song-3{
    width: 350px !important;
}
 
@media (max-width: 900px) {
    #projetos{
        display: none;
    }
}








