/* Universel */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Fredericka+the+Great&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&family=Slabo+27px&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Dosis', sans-serif;

}
.color-f2f2f2{
    color: #f2f2f2;
}
.color-brown{
    color: #a66642;
}
.bg-brown{
    background-color: #a66642;
    height: 2px;
}
.btn-close{
    background-color: #a66642;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
}
/* Navbar */
.contacts{
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    margin: 0px;
}
.branding-nav{
    max-width: 50px;
}
.banner{
    background-image: url(../img/cozinha2.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-bottom: 80px;
}
.banner > h1{
    animation: jmbanner 2s ease-in-out;
    margin:80px;
}



@keyframes jmbanner{
    0%{
        transform: translateX(800px);
    }

}
@media (max-width:900px) {
    .banner{
        height: 400px;
    }
    .banner > h1{
        margin:10px;
    }
    .text-banner{
        font-size: 22px;
        margin:10px;
    }
}
/* Componet 1 */

.container-services-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin:20px auto 200px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.services {
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
}
.services li{
    margin: 20px;
    list-style: none;
}
.services li img{
    max-width: 350px;
    max-height: 350px;
    border-radius: 10px 10px 0px 0px;
}
.box-our-services{
    max-width: 350px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-our-services a{
    color: #a66642;
    font-weight: bold;
}
.box-our-services > a:hover{
    text-decoration: none;
    font-weight: bolder;
    color: #e18d5c;
}

@media (max-width:1200px) {
    .container-services-1{
        margin: 20px !important;
    }
}
@media (max-width:800px) {
    .services li{
        max-width: 350px;
    }
    .services li img{
        max-width: 100%;
    }
}
/* Componet 2 */
.container-section-2{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin:20px auto;
    height: 450px;
}
.container-section-2 div h1{
    color: #a66642;
}
.container-section-2 div p{
    color: #3c3c3c;
}
.img-why-jm{
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 20px;
}
.box-choose-jm{
    display: flex;
    max-width: 400px;
}
.box-choose-jm > li{
    list-style: none;
    margin-top: 20px;
    border-left: 2px solid #a66642;
    color: #a66642;
    padding: 10px;
    font-weight: bold
}
.box-choose-jm li:nth-child(2){
    margin-top: 45px;  
}
.box-choose-jm li:nth-child(3){
    margin-top: 72px;  
}
.cardp-choose-jm{
    max-width: 350px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: -60px -180px 0 0;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.animated-hr {

    margin: auto;
    width: 80%;
    border: none;
    height: 2px;
    background-color: #a66642;
    animation: animated-hr-animation 3s ease-in-out  2;


  }
  
  @keyframes animated-hr-animation {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
@media (max-width:820px) {
    .container-section-2{
        flex-wrap: wrap;
        justify-content: center;
        height: 800px;
        
    }
    .img-why-jm{
        max-width: 300px;
    }
    .animated-hr{
        margin-top: 80px;
    }
    .cardp-choose-jm{
        max-width: 290px;
        margin: -23px 1px 0 0 !important;
        padding: 10px;

    
    }
}
@media (max-width:1200px) {
    .container-section-2{
        margin: 20px !important;
    }
}
@media (max-width:1300px) {
    .cardp-choose-jm{
        max-width: 350px;
        background-color: #f2f2f2;
        border-radius: 10px;
        margin: -60px -100px 0 0;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    }
}
/* Componet 3 */
.container-section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin:150px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 20px;
}
.video-responsive{
    max-width:45%;
}
.btn-brown{
    background-color: #a66742ba;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}
.btn-brown:hover{
    background-color: #a66642;
    color: white;
    text-decoration: none;
}
.container-section-3 div{
    max-width: 1000px;
    align-items: center;
    justify-content: space-around;    
}
.container-section-3 > div > video{
    margin: 10px;    
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-section-3 > div > p{
    max-width: 400px;    
}



@media (max-width:900px) {
    .container-section-3 div{
        justify-content: center;  

    }
    .container-section-3 :nth-child(2){
        flex-wrap: wrap;
    }
    .container-section-3 :nth-child(3){
        flex-wrap: wrap-reverse;
    }
    .video-responsive{
        max-width:80%;
    }
}

/* componet 4 forms */

.container-section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 80px auto 180px auto;
}
.container-forms{
    display: flex;
}
.free-quote{
    max-width: 400px;
    margin: 20px;
}
.img-contacts{
    max-width: 400px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.style-contact{
    background-color: #a66742ba;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.style-contact:hover{
    background-color: #a66642;
}
.card-contacts{
    display: flex;
    max-width: 300px;
    max-height: 100px;
    background-color: #f2f2f2;
    border-radius: 10px;
    position: relative;
    bottom: 48px;
    right: 30px;
    padding: 10px;
    border: 1px solid rgba(79, 78, 78, 0.192);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-contacts img{
    width: 60px;
    margin-right: 15px;
}
.card-contacts p{
    margin: 0;
}
.form-contacts > input[type=submit]{
    border: none;
    transition: 0.5s;
    background-color: #a667422c;

}
.form-contacts > input[type=submit]:hover{
    background-color: #a66642;
    color: white;
}
.form-contacts > *{
    border-radius: 5px;
    height: 40px;
    min-width: 350px;
    margin: 5px;
    padding: 5px;
    border: solid 1px rgb(98, 97, 97);
}
.modal-confing-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-imgs-form{
    display: flex;
    margin: 20px 0;
    min-width: 350px;
    border-radius: 10px;
    background-color: #a66642;
}
.container-imgs-form > a > *{
    width: 60px;
    height: 60px;
    padding: 5px;
}
@media (max-width:1200px) {
    .sec-news{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }
    .input-type-1{
        width: 246px;
        padding-left: 10px;
    }

    .form-news{
        align-items: center; margin-top: 30px;
    }
}

@media (max-width:900px) {
    .container-forms{
        flex-direction: column;
    }
    .img-contacts{
        max-width: 350px;
    }
    .card-contacts-popup{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-contacts{
        max-width: 290px;
        max-height: 80px;
        padding: 5px;
        bottom: 27px;
        right: 0px;
    }
    .card-contacts img{
        max-width: 50px;
    }
}

/* Footer */
footer{
    background-color: #515151;
    min-height: 400px;
}
.whatsapp-fixed > a> img{
    max-width: 64px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.whatsapp-fixed{
    display: flex;
    justify-content: flex-end;
}
.times-footer > p{
    color: white;
}
.text-footer{
    color: white;
}
.text-footer:hover{
    color: white;
}
.times-footer{
    display: flex;
    align-items: flex-start;

}
.container-imgs{
    display: flex;
    margin-bottom: 20px;
}
.container-imgs > a > *{
    width: 60px;
    height: 60px;
    padding: 5px;
}
.logo-footer{
    margin: 20px;
    max-width: 150px;
    max-height: 150px;
    /*height: 50px;*/
}
.box-card-footer{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.container-footer{
    display: flex;
    justify-content: start;

}
.img-footer{
    width: 35px;
    padding: 10px;
}
.container-medias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.footer-responsive{
    display: flex;
    align-items: flex-start !important;
}
@media (max-width: 900px){
    .footer-responsive{
        display: flex;
        justify-content: space-around;
        flex-direction: column;

    }
    .whatsapp-fixed > a> img{
        max-width: 54px;
    }
}
@media (min-width: 1200px) {
    .container-footer{
        flex-direction: column;
        padding: 30px;

    }
    .d-responsive-3{
        display: none;
    }
    .footer-responsive{
        display: flex;
        justify-content: space-around;
    }
    .container-medias{
        background-color: #515151;
    }
    .ogr-footer-medias{
        margin-top: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .config-hr{
        color: white;
        width: 80%;
        height: 1px;
        margin: 20px auto;
    }

}
