<h1>livros disponiveis:</h1>

<div class="books-container">
    {{#each books}}
        <div>
            #{{this.id}} - <span class="bold"> {{this.title}}</span> - {{this.pageqty}} páginas
        </div>
    {{/each}}
</div>

<div class="center-a">
    <a href="/">Inserir mais livros</a>
</div>