<h1>Edite o seu livro:</h1>

<form action="" method="post" class="formulario">
    <div>
        <div class="form-control">
            <label for="title">Título</label>
            <input type="text" name="title" placeholder="Digite o título" value="{{book.title}}">
        </div>
        <div class="form-control">
            <label for="pageqty">Quantidade de paginas</label>
            <input type="number" name="pageqty" placeholder="Numero" value="{{book.pageqty}}">
        </div>
    </div>
    <input type="submit" value="Editar" class="submit">
</form>

<div class="center-a">
    <a href="/books">Ver os livros armazenados</a>
</div>