
body{
    font-family: sans-serif;
    background-color: #c2c0c0;
}



header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 10px;
}
main{
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-american{
    width: 240px;
}

.container-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    max-width:1200px;
}
.banner{
    background:  url(../../img/banner.png) ;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    height: 500px;
    width: 800px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.container-redes{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    height: 500px;
    width: 350px;
    margin: 40px 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius:5px;
}
.container-redes h2{
    margin-bottom: 30px;
}

.container-contacts{
    display: flex;
    align-items: center;
    height: 60px;
    width: 300px;
    border: 1px solid black;
    margin: 10px;
    border-radius:0 20px;
    transition: 0.5s;
}

.container-contacts:hover{
    transform: scale(1.1);
}

.card-contacts{
    display: flex;
    align-items: center;
    height: 60px;
    width: 300px;
    margin: 10px;
    color: black;
    text-decoration: none;
}

.card-contacts img{
    width: 40px;
    height: 40px;
}


.social{
    display: flex;
    justify-content:center;
    width: calc(100% - 80px);
}

.sobre{
    text-align: center;
    max-width: 1000px;
    color: black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
    height: calc(100vh - 870px);
    color: black;
}