/* Universal */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/* NavBar */

/* .logo-american{
    width: 180px;
}
.config-navbar{
    display: flex !important;
    justify-content: space-between !important;
    margin: 10px 20px ;
}

.logo-companies > img{
    max-width: 100px;
    border-radius: 50%;
    margin: 5px;
}


@media (min-width:992px) {
    .nav-dropdown-config{
        display: flex;
        justify-content: end;
    }
} */


/* Pagina de contatos */

body{
    background-color: #7c8c96 ;
    /* 283137 */
}

.container{
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin: 40px 20px;
    color: white;
}

.card-american{
    max-width: 300px;
    text-align: center;
}

.card-american img{
    width: 250px;
}

.card-american h1{
    font-size: 22px;
}

.card-american h2{
    font-size: 18px;
}

.container-contacts{
    display: flex;
    align-items: center;
    height: 60px;
    width: 300px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 30px;
    transition: 0.5s;
}

.container-contacts:hover{
    transform: scale(1.1);
}

.card-contacts{
    display: flex;
    align-items: center;
    height: 60px;
    width: 300px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.card-contacts img{
    width: 50px;
    height: 50px;
}


.social{
    display: flex;
    justify-content:center;
    width: calc(100% - 80px);
}

